* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "EB Garamond", serif;
}

body {
  min-height: 100dvh;
  margin: 0;
  background-image: url("https://i.blogs.es/603a33/layer-14/1366_2000.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 3rem;
  cursor: url("/wand.cur"), url("/wand.png") 16 16, pointer;
}

.header {
  display: flex;
  justify-content: center;
  height: 20rem;
}

.main {
  margin-bottom: 10rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.characterInput {
  text-align: center;
  padding-inline: 5rem;
  padding-block: 0.2rem;
  border-radius: 3.1rem;
  background-color: rgb(253, 221, 182);
  border-color: rgb(255, 214, 164);
}

.characterInput::placeholder {
  color: black;
  font-weight: bold;
}

.houseSelect {
  text-align: center;
  padding-block: 0.2rem;
  border-radius: 3.1rem;
  background-color: rgb(253, 221, 182);
  border-color: rgb(255, 214, 164);
  cursor: url("/wand.cur"), url("/wand.png") 16 16, pointer;
}

.houseSelect::placeholder {
  color: black;
  font-weight: bold;
}

.characterList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  list-style: none;
  padding-top: 3rem;
  justify-items: center;
  align-items: start;
  cursor: url("/wand.cur"), url("/wand.png") 16 16, pointer;
}

.character {
  border: solid 0.3rem rgb(255, 214, 164);
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 20rem;
  position: relative;
}

.character a {
  cursor: url("/wand.cur"), url("/wand.png") 16 16, pointer;
  text-decoration: none;
}

.character img {
  width: 100%;
  height: auto;
  aspect-ratio: 2/3;
  object-fit: cover;
  border-radius: 0.5rem;
}

.character p {
  text-align: center;
  color: black;
  background-color: rgb(253, 221, 182);
  margin-top: 0.5rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.statusIcon {
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
  left: 1rem;
}

.houseIcon {
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
  right: 1rem;
}

.characterDetail {
  max-width: 62.5rem;
  margin: 0 auto 4rem auto;
}

.characterDetailName {
  text-align: center;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  color: black;
  background-color: rgb(253, 221, 182);
  display: block;
  width: fit-content;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.characterDetailContent {
  display: grid;
  grid-template-columns: 18.75rem 18.75rem;
  gap: 2rem;
  align-items: start;
  justify-content: center;
  margin: 0 auto;
}

.characterDetailImageWrap {
  border: solid 0.3rem rgb(255, 214, 164);
  padding: 1rem;
  border-radius: 1rem;
  width: 18.7rem;
  height: fit-content;
}

.characterDetailImage {
  width: 100%;
  height: auto;
  aspect-ratio: 2/3;
  object-fit: cover;
  border-radius: 0.5rem;
  display: block;
}

.characterDetailInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 0.3rem rgb(255, 214, 164);
  padding: 1rem;
  border-radius: 1rem;
  width: 18.7rem;
  height: fit-content;
}

.characterDetailItem {
  text-align: center;
  color: black;
  background-color: rgb(253, 221, 182);
  margin-block: 0.5rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  list-style-type: none;
}

.detailLabel {
  font-size: 1.3rem;
  font-weight: bold;
}

.detailValue {
  font-size: 1rem;
  font-weight: normal;
}

.returnLink {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-inline: 20rem;
  color: black;
  background-color: rgb(255, 214, 164);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: url("/wand.cur"), url("/wand.png") 16 16, pointer;
}

.footer {
  color: rgb(255, 214, 164);
  font-size: 1.5rem;
  padding-top: 3rem;
}

.noResults {
  color: black;
  background-color: rgb(255, 214, 164);
  border-radius: 1rem;
  margin-inline: 30rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 3rem;
}

.notFound {
  color: black;
  background-color: rgb(255, 214, 164);
  border-radius: 1rem;
  margin-inline: 20rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 3rem;
}

@media (max-width: 900px) {
  body {
    padding: 2rem;
    background-position: center;
  }

  .header {
    display: flex;
    justify-content: center;
    height: 13rem;
  }

  .characterList {
    grid-template-columns: repeat(2, 1fr);
  }

  .noResults {
    margin-inline: 10rem;
    font-size: 1.8rem;
  }
}

@media (max-width: 33.75rem) {
  body {
    padding: 1rem;
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
  }

  .characterList {
    grid-template-columns: 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .character {
    max-width: none;
    width: 100%;
    max-width: 20rem;
  }

  .noResults {
    margin-inline: 1rem;
    font-size: 1.5rem;
  }
}
