* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "EB Garamond", serif;
}

body {
  min-height: 100dvh;
  margin: 0;
  background-image: url("https://i.blogs.es/603a33/layer-14/1366_2000.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 3rem;
}

.header {
  display: flex;
  justify-content: center;
  height: 20rem;
}