// colores
$color-primary: rgb(253, 221, 182);
$color-primary-light: rgb(255, 214, 164);
$color-text: black;

// tipo de letra
$font-family: "EB Garamond", serif;

// negrita
$font-weight-bold: bold;

// cursor
$cursor-wand: url("/wand.cur"), url("/wand.png") 16 16, pointer;

